a.skip-main {
    left:-999px;
    position:absolute;
    top:auto;
    width:1px;
    height:1px;
    overflow:hidden;
    z-index:-999;
}
a.skip-main:focus, a.skip-main:active {
    color: #fff;
    background-color:#000;
    left: auto;
    top: auto;
    width: 30%;
    height: auto;
    overflow:auto;
    margin: 10px 35%;
    padding:5px;
    border-radius: 15px;
    border:4px solid yellow;
    text-align:center;
    font-size:1.2em;
    z-index:999;
}

.wrapper {
	padding: 0px;
    margin: 0px;
    .header{
        margin-bottom: 20px;
        background-color: #ff6600 !important;
    }
    .news {
        display: flex;
        div {
            width: 10vw;
            padding: 0px 10px;
        }
        .news-title {
            flex-grow: 1;
        }
        .previous {
	        font-size: 25px;
	        text-decoration: none;
	        display: inline-block;
	        transform: rotateZ(90deg);
	        padding: 0px 10px;
        }
        &:nth-of-type(odd) {
            background: #e0e0e0;
        }
    }
}
.pagination {
	display: inline-block;
}

.pagination button {
	color: black;
	float: left;
	padding: 8px 16px;
	text-decoration: none;
	background-color: transparent;
    border: none;
    &:disabled{
        color: #ddd;
    }
}
.loader {
	border: 2px solid #f3f3f3;
	border-radius: 50%;
	border-top: 2px solid #3498db;
	width: 30px;
	height: 30px;
	animation: spin 2s linear infinite;
	margin: 0 auto;
}
@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}