<a class="skip-main" href="#main-content">Skip to main content</a>

<div class="wrapper" id="main-content">
  <div *ngIf="loader" class="loader"></div>
  <div class="news header">
    <div class="comment-count">
      comments
    </div>
    <div>
      points
    </div>
    <div class="up-count">
      upVote
    </div>
    <div class="news-title">
      news-details
    </div>
  </div>
  <div class="news" *ngFor="let hit of hits">
    <div class="comment-count">
      {{hit.num_comments}}
    </div>
    <div [className]="name">
      {{hit.points}}
    </div>
    <div class="up-count">
      <a href="#" class="previous round" (click)="clickedUpCount(hit.objectID)">&#8249;</a>
    </div>

    <div class="news-title">
      {{ hit.title }} (<a href="{{hit.url}}">{{getSourceName(hit.url)}}</a>) by {{hit._highlightResult.author.value}}
    </div>
  </div>
</div>
<div class="pagination" *ngFor="let paginationPage of paginationPages">
  <button (click)="buttonPagination(paginationPage)">{{paginationPage}}</button>
</div>